/* CSS Stylesheet for the Psst microblog */
/* Author: Ryan Sutton 44609353          */

html {
    background-color: #dddddd;
    color: #222222;
    font-family: sans-serif;
}

html, body {
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
}

.header {
    background-color: #FF9800;
    color: #ffffff;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    width: 100%;
    padding: 0.65em;
    font-size: 32px;
    font-weight: bold;
    transition: all 0.4s ease;
    box-sizing: border-box;
    animation: backgroundContinuous 15s infinite;
    font-family: 'Roboto', sans-serif;
}

.header img{
    height: 0.8em;
    padding-right: 1em;
}

.shrink{
    font-size: 18px;
    padding: 0.65em;
    opacity: 0.95;
}

.shrinkLeft{
    float: left;
    height: 1em;
}

.footer {
    background-color: #555555;
    color: #ffffff;
    text-align: center;
    z-index: 998;
    width: 100%;
    margin-top: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 12px;
}

.advert{
    z-index: 997;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 2px #bbbbbb;
    width: 20%;
    min-width: 9em;
    margin: auto;
    padding: 1.5%;
    margin-top: 1em;
}

.advert img{
    width: 100%;
    height: 100%;
}

.renamedBecauseChromeDoesNotLikeIt{
    z-index: 997;
    width: 50%;
    margin: auto;
    padding: 1.5%;
    margin-top: 1em;
}

.renamedBecauseChromeDoesNotLikeIt img{
    width: 100%;
    height: 100%;
}

.nav{
    margin-top: 4.8em;
    box-shadow: 0px 0px 10px #444444;
    background-color: #F57C00;
    position: fixed;
    z-index: 900;
    top: 0;
    width: 100%;
    transition: all 0.4s ease;
    font-family: 'Roboto', sans-serif;
}

.shift{
    margin-top: 2.75em;
    top: 0;
    opacity: 0.95;
}

.nav ul{
    list-style-type: none;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.nav li {
    display: inline-block;
    margin-right: -0.2em;
    background-color: #F57C00;
}

.nav li ul{
    position: absolute;
    display: none;
    width: inherit;
    animation-name: entranceFade;
    animation-duration: 0.4s;
}

.nav li:hover ul{
    display: block;
}

.nav li ul li{
    display: block;
    background-color: #EF6C00;
}

.nav li ul li:hover{
    background-color: #FB8C00;
}

.nav li ul li:active{
    background-color: #E65100;
}

.nav lu ul li input{
    padding: 1em;
}

.nav a{
    color: #ffffff;
    text-decoration: none;
    align-content: center;
    display: block;
    padding: 1em;
    border-bottom: none;
    font-size: 16px;
}

.nav ul li:hover{
    background-color: #FB8C00;
}

.nav ul li:active{
    background-color: #E65100;
}

.loginBar{
    margin-top: 5.2em;
    background-color: #9E9E9E;
    color: #ffffff;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    animation-name: entranceLeft;
    animation-duration: 1s;
    font-size: 24px;
}

.userPass{
    border: none;
    color: #ffffff;
    background-color: #9E9E9E;
    outline: none;
    padding: 5px;
    font-size: 24px;
    border-bottom: thin solid #ffffff;
}

::-webkit-input-placeholder{
    color: #444444
}

.cusButton{
    background-color: #757575;
    padding: 10px;
    color: #FFFFFF;
    border: none;
    top: 0;
    transition: all 0.2s;
    font-size: 24px;
}

.cusButton:hover{
    background-color: #BBBBBB;
}

.cusButton:active{
    color: #ffffff;
    background-color: #333333;
}

.contactSend{
    background-color: #FFC107;
    padding: 5px;
    border: none;
    transition: all 0.3s;
    width: 100%;
    outline: 0;
}

.contactSend:hover{
    background-color: #FFE082;
}

.contactSend:active{
    background-color: #FFA000;
}

.collapse{
  cursor: pointer;
  display: block;
  color: #ffffff;
  background-color: #F57C00;
  padding: 1em;
}

.collapse:hover{
    background-color: #FB8C00;
}

.collapse:active{
    background-color: #E65100;
}

.collapse + input{
  display: none;
}
.collapse + input + div{
  display:none;
}
.collapse + input:checked + div{
  display:block;
}

.postCollapse{
    cursor: pointer;
    display: block;
    background-color: #009e9e;
    color: #ffffff;
    padding: 0.4em;
    width: 60%;
    margin: auto;
    transition: background-color 0.3s;
    margin-bottom: 1em;
}

.postCollapse:hover{
    background-color: #4db6ac;
}

.postCollapse:active{
    background-color: #00796b;
}

.postCollapse + input{
  display: none;
}
.postCollapse + input + div{
  display:none;
}
.postCollapse + input:checked + div{
  display:block;
}

.postBox{
    animation: entranceLeftText 1s;
    width: 60%;
    margin: auto;
    box-sizing: border-box;
}

.postBox button{
    border: none;
    background-color: #666666;
    color: #FFFFFF;
    padding: 1em;
    width: 15%;
    box-sizing: border-box;
    transition: background-color 0.3s;
}

.postBox button:hover{
    background-color: #AAAAAA;
}

.postBox button:active{
    background-color: #444444;
}

.postBox textarea{
    height: 3em;
    width: 80%;
    box-sizing: border-box;
    float: left;
    margin-right: 1em;
}

.content {
    margin-top: 9em;
    max-width: 1000px;
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.titleBox{
    max-width: 500px;
    min-width: 200px;
    width: 66%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

.psst {
    max-width: 500px;
    min-width: 200px;
	width: 66%;
    height: auto;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 15px;
    margin-top: 12px;
    margin-bottom: 12px;
    top: 0;
    position: relative;
    box-shadow: 0px 2px #bbbbbb;
    transition: all 0.2s;
    animation-name: entranceDown;
    animation-duration: 1s;
    display: flex;
    font-family: 'Open Sans', sans-serif;
}

.psst:hover{
    top: -4px;
    box-shadow: 0px 6px #bbbbbb;
    background-color: #d8f0ff;
}

.psst:active{
    top: 4px;
    box-shadow: 0px -6px #444444;
    animation-duration: 0.3s;
}

.profileThumb{
    float: left;
    margin-right: 1em;  
    height: inherit;
}

.profilePic{
    background-color: #FFDDBB;
    width: 3em;
    height: 3em;
    margin: auto;
    margin-bottom: 0.5em;
}

.profilePic img{
    width: inherit;
    height: inherit;
}

.noInteract{
    transition: none;
    width: 80%;
    max-width: 100%;
    min-height: 500px;
    background-color: #FFFFFF;
    margin: auto;
    margin-top: -1em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 3em;
    padding-bottom: 3em;
    box-shadow: 0px 0px 15px #BBBBBB;
}

.form{
    width: 55%;
    margin: auto;
    margin-top: 4em;
}

.form input{
    float: right;
    clear: both;
}

.form textarea{
    width: 100%;
    height: 10em;
}

textarea{
    font-family: 'Open Sans', sans-serif;
}

.grid50 {
	width: 48%;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0px 2px #bbbbbb;
    float: left;
    box-sizing: border-box;
    margin-right: 1em;
}

.grid50:last-of-type{
    margin-right: 0;
}

.cont66 {
	width: 66%;
    max-width: 500px;
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.cont66:after{
    content: "";
    display: table;
    clear: both;
}

.entranceDown{
    animation-name: entranceDown;
    animation-duration: 1s;
}

.entranceLeft{
    animation-name: entranceLeftText;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.noInteract hr{
    background-color: #DCDCDC;
    height: 1px;
    border: none;
    width: 80%;
}

hr{
   background-color: #999999;
    height: 1px;
    border: none;
    width: 65%; 
}

/**ANIMATIONS**/
@keyframes entranceDown{
  from{
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to{
    opacity: 1;
    transform: none;
  }
}

@keyframes entranceLeft{
  from{
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to{
    opacity: 1;
    transform: none;
  }
}

@keyframes entranceLeftText{
  from{
    opacity: -1;
    transform: translate3d(-100%, 0, 0);
  }

  to{
    opacity: 1;
    transform: none;
  }
}

@keyframes entranceFade{
    from{
        opacity: 0;
    }
    
    to{
        opacity: 1;
    }
}

@keyframes backgroundContinuous{
    0%{
        background-color: #FF9800;
    }
    50%{
        background-color: #ffb200;
    }
    100%{
        background-color: #FF9800;
    }
}